{% extends 'index.html' %}
{# 继承 index页面, index 是基础的框架模板 #}


{#使用 block 会直接覆盖index Block 里的所有内容. #}
{% block content-container %}

    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">主机列表</h1>

        <!--Searchbox-->
        <div class="searchbox">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="text-muted" type="button"><i class="ti-search"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->


   <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">主机列表</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->


    <!--Page content-->
    <!--===================================================-->
    <div id="page-content">
                <div class="col-lg-4">
            <!--Panel with Header-->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">主机组</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-body">
                        <div class="panel-body">
                            <!--List Group with Badges-->
                            <!--===================================================-->
                            <!--{{ request.user.account.host_groups.all }}  {# 在前端从数据库取出数据 #}-->

                            <ul class="list-group">
                                {% for group in request.user.account.host_groups.all %}
    {#                              <li class="list-group-item"><span class="badge badge-primary">{{ group.host_user_binds.count }}</span>{{ group.name }}</li>#}
                                  <li class="list-group-item" onclick="GetHostlist({{ group.id }},this)"><span class="badge badge-success">{{ group.host_user_binds.count }}</span>{{ group.name }}</li>
                                {% endfor %}
                                  <li class="list-group-item" onclick="GetHostlist(-1,this)"><span   class="badge badge-success ">{{ request.user.account.host_user_binds.count }}</span>未分组主机</li>

                            </ul>
                            <!--===================================================-->
                    </div>

                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Header-->
        </div>
        <div class="col-lg-8">
            <!--Panel with Header-->
            <!--===================================================-->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">主机列表</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Hostname</th>
                                        <th>IP</th>
                                        <th>Port</th>
                                        <th>Username</th>
                                        <th>IDC</th>
                                        <th>Login</th>
                                        <th>Token</th>
                                    </tr>
                                </thead>
                                <tbody id="hostlist">
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--===================================================-->
            <!--End Panel with Header-->

        </div>
    </div>
    <!-- ==================================================================== -->
    <!-- END QUICK TIPS -->


    <!--JavaScript-->
    <!--===================================================-->
    <script>
        function GetToken(self,bind_host_id){
            //解决 csrf_token 的问题,
            $.post("{% url 'get_token' %}",{'bind_host_id':bind_host_id,'csrfmiddlewaretoken':"{{csrf_token}}"},function(callback){
                //JSON.parse() 方法用来解析JSON字符串，构造由字符串描述的JavaScript值或对象.
                var data = JSON.parse(callback);
                //next() 获得匹配元素集合中每个元素紧邻的同胞元素。如果提供选择器，则取回匹配该选择器的下一个同胞元素。
                $(self).parent().next().text(data.token);
            });
        }
        function GetHostlist(gid,self) {
            $.get("{% url 'get_host_list' %}",{'gid':gid},
                function (callback) {
                    //JSON.parse() 方法用来解析JSON字符串，构造由字符串描述的JavaScript值或对象.
                    var data = JSON.parse(callback);
                    console.log(data);

                    var trs = '';
                    $.each(data,function (index,i) {
                        var tr = '<tr><td>' + i.host__hostname + "</td><td>" + i.host__ip_addr + "</td><td>" + i.host__port + "</td><td>" + i.host_user__username + "</td><td>" + i.host__idc__name + "</td><td> <a class='label label-info' onclick=GetToken(this,'"+i.id+"')>Token</a><a class='label label-purple'>Login</a></td><td></td></tr>"
                        trs += tr

                    });
                    {# 把字符串拼接完成之后的 trs 添加到列表中 #}
                    $('#hostlist').html(trs)
                });//end get

            /*
                 如果给定一个表示DOM 元素集合的jQuery 对象，
                 .siblings() 方法允许我们在DOM 树中搜索这些元素的同胞元素，
                 并用匹配元素构造一个新的jQuery 对象。
             */
            {# 点击按钮既高亮,并移除他的 siblings( 兄弟)的高亮  #}
            $(self).addClass('active').siblings().removeClass('active');

            {# 操作当前标签下的子标签 span 显示和隐藏#}
            $(self).children('span').hide();
            $(self).siblings().children('span').show();
        }
    </script>
    <!--===================================================-->
    <!-- End JavaScript-->


{% endblock %}
