

{# {% include 'components/taskresult.html' %}#}
{# 就可以调用这个插件了. #}

<div class="col-lg-12">
    <!--Panel with Header-->
    <!--===================================================-->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">执行结果</h3>
        </div>
        <div class="panel-body">
            <div id="task_result_panel" class="panel-body">
                <div id="task_result"></div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Panel with Header-->
</div>
